version: '3.7'

services:
  oxid_php:
    image: oxidesales/oxideshop-docker-php:7.3
    restart: always
    container_name: oxid_php
    command: installOxid
    working_dir: /var/www/oxid-esale
    volumes:
      - ./oxid-esale:/var/www/oxideshop:cached
      - ./:/oxrun
      - ./docker/bin/installOxid.sh:/usr/local/bin/installOxid
    links:
      - oxid_db
    environment:
      COMPILATION_VERSION: "dev-b-6.2-ce"
      DOCKER_DOCUMENT_ROOT: /var/www/oxid-esale
      MYSQL_HOST: oxid_db
      MYSQL_DATABASE: 'oxid'
      MYSQL_USER: "oxid"
      MYSQL_PASSWORD: "oxid"
      OXID_SHOP_URL: "http://oxid-esale.local:8082"
      WITH_XDEBUG: "0"
#     COMPOSER_AUTH: '{"http-basic": {"enterprise-edition.packages.oxid-esales.com": {"username": "XXXX", "password": "XXXX"}}}'
    networks:
      - internal

  oxid_db:
    container_name: oxid_db
    image: mysql:5.7
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: oxid
      MYSQL_USER: oxid
      MYSQL_PASSWORD: oxid
      MYSQL_ROOT_PASSWORD: oxid
      TZ: Europe/Berlin
    networks:
      - internal

  webserver:
    container_name: oxid_webserver
    image: httpd:2.4
    restart: always
    domainname: oxideshop.local
    hostname: oxideshop
    depends_on:
      - oxid_php
    volumes:
      - ./oxid-esale:/var/www/oxid-esale
      - ./docker/httpd.conf:/usr/local/apache2/conf/httpd.conf
    ports:
      - 8082:80
    networks:
      internal:
        aliases:
          - localhost
          - oxideshop.local
networks:
  internal:
