<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         bootstrap="tests/UnitBootstrap.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         convertDeprecationsToExceptions="false"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <file>src/Oxrun/Application/oxrun-light.php</file>
        </exclude>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
<!--            <html outputDirectory="build/logs/html-coverage" lowUpperBound="50" highLowerBound="90"/>-->
        </report>
    </coverage>
    <testsuites>
        <testsuite name="oxrun">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
